body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

.dark {
  background: #111;
  color: white;
}

header {
  background: #000;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.slider {
  height: 200px;
  background: #222;
  color: white;
  text-align: center;
  padding: 50px;
}

.slide { display: none; }
.slide.active { display: block; }

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.modal {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  background: white;
  padding: 20px;
  display: none;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: green;
  color: white;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
}
